/* ----------------element styles------------------------- */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 }
 nav{
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
}
span{
    color: red;
}
h1{
    font-size: 60px;
    letter-spacing: 5px
}

p{
    font-size: 18px;
    line-height: 40px;
}
footer{
    /* margin-top: 100px;
    padding: 80px; */
    color: white;
    text-align: center;

}

i{
    /* padding: 100px; */
}
nav ul li{
    margin: 10px;
    display: inline-block;
  }
  
  nav ul li a{
      text-decoration: none;
      color: white;
      font-weight: bold;
      margin: 20px 10px;
  }
  
  nav ul li a:hover{
      color: red; 
      transition: .5s;
  }
 /* ------------class styles------------------- */
 
 .hero{
     height: 100vh;
     width: 100%;
     background-image: linear-gradient(rgba(34, 33, 33, 0.4), rgba(17, 17, 17, 0.4)),url(https://images.unsplash.com/photo-1491933382434-500287f9b54b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGFwcGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
     background-position: center;
     background-size: cover;
 }
 
 
 
 .logo{
  color: white;
  font-size: 29px;
 }
 
 
 
 .content{
     color: white;
     text-align: center;
     margin: 60px;
 }
 
 
 
 .btn{
     margin-top: 25px;
     padding: 12px 20px;
     color: white;
     font-size: 15px;
     background-color: transparent;
     border: 5px solid transparent;
     border-radius: 40px;
 }
 
 .btn:hover{
     cursor: pointer;
     transition: .5s;
     background-color: red;
     font-size: 18px;
     color: wheat;
 }
 
 
 .facebook{
    margin-top: 80px;
   padding: 15px;
   
 }
 .facebook:hover{
    cursor: pointer;
    transition: .5s;
    background-color: transparent;
    color: rgba(210, 201, 201, 0.848);
    
 }
 .twitter{
    margin-top: 100px;
    padding: 15px;
 }
 .insta{
    margin-top: 100px;
    padding: 15px;
 }
 
 .twitter:hover{
    cursor: pointer;
    transition: .5s;
    background-color: transparent;
    color: rgba(210, 201, 201, 0.848);
 }
 .insta:hover{
    cursor: pointer;
    transition: .5s;
    background-color: transparent;
    color: rgba(210, 201, 201, 0.848);
 }

